#home{
	padding: 3px 0 0px;
	

#mainNav{
	
	box-shadow:none !important;
	border:none !important;
	background:none;
	top: 0;
    left: 0;
    right: 0;
    padding: 3px 0 4px;
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;

    ul{
    	margin: 0;
        padding: 0px;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
        font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
        li.active a {
 	       color: #1ac6ff;
 	       border-bottom: solid 2px #1ac6ff;
           }
        li.bordered {
                padding-top:15px;
                padding-bottom:15px;
        	a {
        	color: #1ac6ff;
        	border-color: #1ac6ff;
        	padding: 10px 25px;
        	margin: 0;
            height: auto;
            font-size: 13px;

        }
      }
    }

    a{
    	-webkit-transition: border 0.2s ease, color 0.2s ease;
	    -moz-transition: border 0.2s ease, color 0.2s ease;
	    -o-transition: border 0.2s ease, color 0.2s ease;
	    transition: border 0.2s ease, color 0.2s ease;
	    display: inline-block;
	    padding: 15px 10px;
	    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
	    font-size: 14px;
	    color: #f5eaf1;
	    text-transform: uppercase;
	    line-height: 1;
	    background:none;
	    box-shadow:none;
	
    }

    a:hover, a:active, a:focus {
    text-decoration: none;
    outline: none;
    color: #00ade6;
      }
      
    li{
    	display: inline-block;
        padding: 10px 0;
        margin-right: 7px;
        font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;

        
    }
}
 #brand{
 	float: left;
    margin-right: 50px;
    margin-top: 17px;
}

#brand-logo{
	weight:130px;
 }

 .logo{
 	-webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    display: block;
    height: 30px;
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 90px;

 }

 .navbar-brand{
 	padding:0px !important;
 }

.navbar-right{

}
#launchStartup{
   min-height: 375px;
    padding-top: 300px;
    padding-bottom: 70px;
  }
  h1,h5{
  	
    margin: 20px 0 15px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: white;
    

  }

  h1{
  	font-size: 58px;
  	.launchBlue{
  	  color: #1ac6ff;
  	}
  }

  h5 {
    font-size: 24px;
    margin-bottom: 33px;
}

#shopCart  {
    color: white !important;
    border: none !important;
    padding-top:16px;
    padding-bottom:16px;
    background-color: #1ac6ff !important;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1;
    margin-left: 7px;
    margin-right: 7px;

     }

i.fa {
    margin-right: 0.3em;
    padding-right: 4px;
    color: #fff !important;
    }

  
    
#outlined{
	border-color: #ffffff;
    background-color: transparent;
    color: #ffffff;
    padding:12px 27px; 
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 7px;
    margin-right: 7px;
}

.clients-section {
    background-color: #f0f0f0;
    line-height: 1;}
      ul.list-inline {
      margin: 23px -5px;
      li{
      	padding: 0 25px;
      }
   }

.btn.btn-outline-color:hover{
        color: white  !important;
        background-color: #1ac6ff!important;
  }

.btn.btn-outline:hover{
  color:#1ac6ff !important;
  background-color:white !important;
}



    }






