#team{
	background-color: #fff;
	margin: 0; *
    padding: 30px 0;
    padding-bottom: 30px;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;

.section {
    position: relative;
    min-height: 50px;
    padding: 30px 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    color:#000000;
}

.section-header {
    margin: 30px 0 80px;
 }
h2 {
	margin: 20px 0 15px;
    font-weight: 300;
    display: block;
    font-family: "Lato", sans-serif;
    line-height: 1.1;
    font-size: 45px;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.sub-header {
    margin-bottom: 30px;
}
p {
    margin: 0 0 10px;
    font-family: "Lato", sans-serif;
    line-height: 25px;
    font-size:16px;
   }

.members {
    width: 100%;
  }

.photo-wrapper {
    position: relative;
  }

 // .overlay-wrapper {
 //    position: absolute;
 //    top: 0;
 //    right: 0;
 //    bottom: 0;
 //    left: 0;
 //  } 

 // .members:hover .overlay-wrapper:before {
 //    opacity: 0.82;
 //    background-color: #1ac6ff;
 //  } 

 // .members .overlay-wrapper:before {
 //    -webkit-transition: opacity 0.3s ease;
 //    -moz-transition: opacity 0.3s ease;
 //    -o-transition: opacity 0.3s ease;
 //    transition: opacity 0.3s ease;
 //    position: absolute;
 //    top: 0;
 //    left: 0;
 //    right: 0;
 //    bottom: 0;
 //    opacity: 0;
 //    content: "";
 //    z-index: 2;
 //  } 


//    .members .overlay-wrapper img {
//     max-width: 100%;
//     max-height: 100%;
//     width: 100%;
//     height: auto;
   
// }
 //  .members .overlay-content {
 //    padding: 8%;
 //    z-index: 3;
 //    color: #ffffff;
 //  }
 // .members .overlay-content {
 //    position: absolute;
 //    top: 0;
 //    right: 0;
 //    bottom: 0;
 //    left: 0;
 //  }

 // .members:hover .overlay-content .text-wrapper {
 //    opacity: 1;
 // }


 // .members .overlay-content .text-wrapper {
    
 //    height: 70%;
 //    overflow: hidden;
  
 //  } 

 //  .members .overlay-content .text-container {
 //    display: table;
 //    width: 100%;
 //    height: 100%;
 //    }

  .members .name {
    margin: 15px 0 5px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 18px;
    color: #1ac6ff;
    display: block;
    font-family: "Lato", sans-serif;
   }

  .members .position {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    font-family: "Lato", sans-serif;
   }
}



.long-block {
    position: relative;
    padding: 40px 0 25px;
    color: #ffffff;
    background-color: #1ac6ff;
    .icon {
    margin-right: 15px;
    line-height: 1;
    font-size: 60px;
    color: #ffffff;

   }

   h2{
   	margin: -5px 0 0;
    line-height: 1;
    font-weight: 300;
    font-family: "Lato",sans-serif;
    font-size: 45px;
   }
}


.lite {
    font-weight: 300;
    margin: 0 0 10px;
    line-height: 25px;
    font-size: 16px;
}


.icon-seo-icons-24:before {
    content: "\e162";
    font-family: "line-icons" !important;
    font-size: 70px;
}

.btn{
    position: relative;
    margin: 0 7px;
    display: inline-block;
    min-width: 144px;
    max-width: 100%;
    padding: 15px 25px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    border-width: 1px;
    border-style: solid;
    }

.btn.btn-outline{
     border-color: #ffffff;
	color: #ffffff;
    background-color: transparent;
    
}